body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('img/bg.png');
    background-attachment: fixed;
    background-size: cover;
    
}

.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   margin-top: 20px;
   
}

#githubrepos {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.githubrepo {
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 1px solid gold;
    margin: 5px;
}

.githubrepo:hover {
    border: 1px solid red;
}

.content{
    color: aliceblue;
    max-width: 600px;
   margin-bottom: 40px;
}

a {
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 4px 4px 4px rgb(21, 21, 21);
    font-size: 1,2em;
    color: aliceblue;
    text-decoration: none;
}

.textbox {
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    padding-top: 20px; 
}

#planets {
    margin:auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
   padding-bottom: 150px;
   max-width: 800px; 
   
}

.planet img {
    width:40%;  
}

#sat {
    margin:auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
   margin-top: 50px;
   max-width: 800px; 
   margin-bottom:40px;
}

